.cart-all-page {
  background-color: #f4f4f4;
}
.cart_shop_title {
  padding: 10px 0px 10px 50px;
  line-height: 50px;
  /* background-color: white; */
  /* color: #fe4300; */
  background-color: #f76834;
  color: white;
  min-width: 1150px;
  font-size: 22px;
  border-top: 0.1px solid #d3b8b0;
}
.cart_shop_title h3 {
  font-size: 30px;
  margin-left: 50px;
}
.cart_shop_title hr {
  margin: 10px 20px;
  width: 1px;
  height: 30px;
  border: 1px solid white;
}
.cart_product_detail {
  width: 1150px;
  min-height: calc(100vh - 63px - 70px);
  margin: auto;
  margin-top: 20px;
}

.select-all-item {
  justify-content: space-between;
  background-color: white;
  padding: 15px;
  align-items: center;
  align-content: center;
}
.select-all-item p {
  margin: 0 10px;
  text-transform: uppercase;
  color: #7d7f87;
  font-size: 12px;
}
.select-all-item > div {
  align-items: center;
}
.select-all-item input {
  background-color: #fe4300;
  outline: none;
  border: none;
}

.products-order li {
  background-color: white;
  margin: 10px 0;
  /* padding: 10px; */
}

.products-order li .store-order {
  align-items: center;
  padding: 10px 0 15px 0;
  border-bottom: 1px solid rgb(238, 239, 244);
}
.products-order li .detail-order {
  padding: 15px 0;
}
.detail-order img {
  width: 80px;
  height: 80px;
}
.detail-order input {
  margin: 15px;
}

.detail-order .title-order,
.detail-order .style-order {
  margin: 0 15px;
  font-size: 18px;
}
.detail-order .style-order {
  margin-top: 10px;
  font-size: 13px;
  color: #aeb0b7;
  text-transform: uppercase;
}
.calculator-price p:first-child {
  color: #fe4300;
  font-size: 18px;
}
.trash-order {
  margin: 15px 0;
}
.btn-payment-order button {
  cursor: pointer;
  padding: 9px 13px;
  font-size: 15px;
  background-color: #f76834;
  color: white;
  font-weight: bold;
}
.btn-payment-order button:hover {
  opacity: 0.9;
}
