@import url("https://fonts.home_googleapis.home_com/css?family=Kenia");
.home_container {
  background-color: #e8e1e3;
  margin: 0;
  padding: 0;
  overflow: scroll;
}

/*HomeBanner*/
a {
  text-decoration: none;
  color: black;
}
.home_site_nav a:hover {
  color: #fe4300;
}
.home_container {
  word-wrap: break-word;
}
.home_site_nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 55px;
}
.home_nav_left {
  display: flex;
}
.home_nav_left_detail,
.home_site_nav .nav-bar-right {
  margin: auto 20px;
  cursor: pointer;
}
.home_nav_left_detail:hover,
.home_nav_right_detail:hover {
  color: #fe4300;
}
.home_banner_container button {
  font-size: 15px;
  cursor: pointer;
  background-color: #f5f5f5;
}
.home_banner_container button:hover {
  color: #fe9e4a;
}
.home_nav_right {
  display: flex;
}
.home_banner_nav {
  background-color: #fe9e4a;
  display: flex;
}
.home_banner_detail {
  margin: auto;
  display: flex;
  position: relative;
}
.home_button_next_banner {
  position: absolute;
  line-height: 90px;
  left: 150px;
  z-index: 100;
}
.home_button_back_banner {
  position: absolute;
  line-height: 90px;
  right: 150px;
  z-index: 100;
}

.home_anchor {
  display: flex;
  position: relative;
}
.home_search_bar {
  display: flex;
  margin: auto;
  position: relative;
}
.home_search_bar input {
  border: none;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  height: 45px;
  width: 650px;
  font-size: 16px;
}

.home_search_bar input:focus {
  border: none;
  outline: none;
}
span h3 {
  font-size: 30px;
  position: absolute;
  left: 260px;
  line-height: 50px;
  font-family: Kenia;
  color: #ff4f00;
}

.home_img_search img {
  width: 23px;
  position: absolute;
  right: 115px;
  top: 30px;
  cursor: pointer;
}
.home_search_button button {
  border: none;
  cursor: pointer;
  display: flex;
  position: absolute;
  right: 30px;
  top: 25px;
  padding: 10px;
  border-radius: 15px;
  font-size: 13px;
  text-transform: uppercase;
  font-family: tahoma, arial, sans-serif;
  background-image: linear-gradient(#ff8e00, #ff5300);
}

/*HomeContainer*/
.home_container_type,
.home_maybe_like {
  background-color: #faf9f9;
  border-radius: 10px;
  width: 1150px;
  margin: auto;
  padding: 10px 0;
  margin-top: 20px;
}
.home_name_type h5 {
  margin: 0 10px 10px 10px;
  padding: 12px 20px;
  background-color: #ffeee8;
  border-radius: 20px;
  font-size: 18px;
}
.home_content {
  display: flex;
}
.home_optinal_type {
  width: 20%;
  position: relative;
}
.home_detail_list {
  display: none;
  width: 400px;
  height: 604px;
  flex-direction: column;
  cursor: default;
}
.home_detail_list li:hover {
  cursor: pointer;
}
.home_type_detail {
  display: flex;
  padding: 10px;
  padding-left: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}

.home_type_detail ul li {
  list-style: none;
  margin: 20px;
  padding: 5px;
  width: 170px;
}
.home_type_detail:hover {
  background-color: rgb(232 215 194);
}

.home_type_detail:hover .home_detail_list {
  display: flex;
  position: absolute;
  top: -60px;
  left: 220px;
  width: 930px;
  border: 2px solid #ff5300;
  border-radius: 10px;
  background-color: #faf9f9;
}
.home_icon_small {
  position: absolute;
  right: 0px;
  padding-right: 15px;
}
.home_type_detail:hover .home_icon_small {
  color: #ff5300;
}
.home_default {
  display: block;
  margin: auto;
}
.home_default ul {
  display: flex;
  margin: auto;
}

.home_default li:hover {
  box-shadow: 0px 0px 10px;
  outline: 5px solid white;
  background-color: white;
  border-radius: 5px;
}
.home_default img {
  display: block;
  margin: auto;
  width: 155px;
  height: 155px;
  border-radius: 5px;
}
.home_desription {
  margin-top: 10px;
}

.home_sub {
  display: flex;
  justify-content: space-between;
}
.home_price {
  color: #fe4300;
  font-size: 18px;
}
.hone_slod {
  font-size: 14px;
}
.home_detail_all {
  display: flex;
}
.home_container hr {
  border: none;
  border-left: 1px solid #d4cdcd;
  height: 620px;
  display: flex;
  position: absolute;
  left: 210px;
}
.home_like {
  display: flex;
  position: absolute;
  left: 200px;
}
.home_likes ul {
  margin: 20px 0;
}
.home_likes ul li {
  margin: 10px;
}

.home_flyers {
  display: block;
  margin: 20px 0;
}
.home_flyers img {
  display: block;
  margin: auto;
  border-radius: 10px;
  width: 1150px;
}

.home_maybe_like h2 {
  padding: 20px;
}
.home_products img {
  width: 180px;
  height: 180px;
  border-radius: 10%;
}
.home_products li {
  margin: 10px;
  padding: 10px;
  width: 220px;
}

/*HomeIntroduce*/

/*HomeIntroduce*/
.home_content_foter {
  background-color: #fff;
  width: 100%;
  display: block;
  min-width: 1150px;
}
.home_foter {
  margin-top: 50px;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
}
.home_foter div {
  margin: 20px;
}
.home_foter .home_column_out {
  width: 500px;
  display: block;
}
.home_foter div h4 {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
}
.home_foter p {
  margin: 10px;
  cursor: pointer;
}
.home_foter .home_img_group {
  display: flex;
}
.home_foter .home_dowload_app .home_app_store img {
  display: flex;
  margin: 8px;
  cursor: pointer;
}
.home_foter .home_dowload_app .home_barcode_app {
  display: flex;
}
.home_foter .home_keep_track span {
  padding: 5px;
  margin: 5px;
}
.home_foter .home_keep_track span,
.home_foter .home_keep_track img {
  cursor: pointer;
}
.item-product-default {
  box-shadow: 0px 0px 5px rgb(219, 214, 214);
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  width: 195px !important;
  cursor: pointer;
}
.item-product-default:hover {
  border-radius: 5px;
  box-shadow: 0px 0px 10px;
  outline: 5px solid white;
  background-color: white;
}
.item-product-default img {
  display: block;
  margin: auto;
  width: 170px;
  height: 170px;
  border-radius: 5px;
}
.item-product-default p {
  font-weight: 400;
  font-family: Helvetica;
  margin: 0 5px !important;
}
.item-product-default .item-product-desription {
  margin-top: 10px !important;
  height: 30px;
  margin: auto;
  font-size: 13px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-product-default .item-product-price {
  color: #ff4f00;
  display: block;
  font-size: 15px;
  min-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-product-default .item-product-slod {
  color: #7589a3;
  font-size: 11px;
  line-height: 19px;
  min-width: 69px;
  /* text-align: right; */
}
