/*HomeBanner*/
.product-all-page {
  background-color: #e8e1e3;
}
.product_container {
  width: 1150px;
  background-color: white;
  margin: auto;
  border-radius: 5px;
  display: flex;
}
.product_img_product {
  width: 480px;
}
.product_img_big {
  margin: auto;
  max-width: 400px;
  max-height: 450px;
}
.product_img_big img {
  display: block;
  margin: auto;
  margin-top: 20px;
  max-width: 380px;
  height: 420px;
}
.product_img_more ul {
  display: flex;
  list-style-type: none;
  width: 400px;
  justify-content: center;
}
.product_img_more {
  display: flex;
  justify-content: space-around;
}
.product_img_more li img {
  width: 80px;
  height: 100px;
  margin: 10px;
}
.product_img_hover {
  outline: 2px solid #ff5300;
}
.product_overview {
  /* background-color: red; */
  width: 640px;
  display: block;
  margin-left: 10px;
}
.product_overview .product_title {
  height: 50px;
  margin: 20px;
  margin-bottom: 10px;
}
.product_overview .product_title p {
  word-wrap: break-word;
  max-height: 55px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑,
    "WenQuanYi Zen Hei", "Hiragino Sans GB", "儷黑 Pro", "LiHei Pro", "Heiti TC",
    微軟正黑體, "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;
}
.product_evalutate_sold {
  display: flex;
}
.product_content_review {
  display: flex;
  justify-content: space-between;
}
.product_report {
  line-height: 35px;
  float: right;
  margin-left: 100px;
  color: #929292;
  cursor: pointer;
}
.product_evalutate_sold span {
  margin: 20px;
  margin-left: 5px;
}
.product_evalutate_sold p {
  margin: 5px 10px;
}
.product_evalutate_sold span {
  color: black;
  line-height: 30px;
}
.product_evalutate_sold hr {
  height: 30px;
  width: 1px;
  margin: 0 20px;
  background-color: #ff5300;
  border: none;
}
.product_rating {
  display: flex;
}
.product_rating span {
  margin: 0 10px;
  margin-right: 5px;
  font-size: 18px;
  color: #ff5300;
}
.product_rating_star img {
  margin: -2px;
  padding: 0;
}
.product_rating_star {
  line-height: 35px;
}

.product_price_detail {
  display: flex;
}
.product_price {
  margin-top: 20px;
}
.product_price_detail p {
  margin: 15px 0px 0px 25px;
  font-size: 30px;
  color: #ff5300;
  line-height: 40px;
}
.product_content_price {
  background-color: #f8f8f8;
  border-radius: 5px;
}
.product_content_price .product_price {
  display: flex;
}
.product_price .product_price_detail .product_cost {
  color: #929292;
  text-decoration: line-through;
  font-size: 20px;
}
.product_price .product_percent {
  font-size: 13px;
  margin: 23px;
  line-height: 20px;
  height: 18px;
  background-color: #ee4d2d;
  border-radius: 5px;
  padding: 0 15px;
  font-weight: bold;
  color: white;
}
.product_price .product_percent span {
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 3px;
}
.product_content_price .product_content_sale {
  display: flex;
}
.product_content_sale .product_sale {
  margin: 0px 0px 10px 10px;
}
.product_content_sale .product_sale span {
  color: #ff5300;
  font-size: 17px;
}
.product_code_sale {
  display: flex;
  margin: 10px;
}
.product_code_title {
  font-size: 17px;
  width: 120px;
}
.product_code_value p {
  color: #ff5300;
  background-color: #fbebed;
  margin: 0 15px;
  margin-top: 5px;
  line-height: 20px;
  border-radius: 5px;
}
.product_transport {
  display: flex;
}
.product_free_ship {
  display: flex;
}
.product_free_ship img {
  width: 30px;
}
.product_free_ship img,
.product_transport_ship img {
  margin: 10px;
}
.product_transport p {
  margin: 10px;
}
.product_transport_detail {
  margin-left: 25px;
}
.product_content_color,
.product_count_product,
.product_content_size,
.product_add_pay {
  display: flex;
  margin: 10px;
}
.product_color_option ul,
.product_size_option ul {
  list-style-type: none;
  display: flex;
  margin-left: 55px;
}
.product_size_option ul {
  margin-left: 63px;
}
.product_content_color button,
.product_content_size button {
  line-height: 30px;
  padding: 0 10px;
  border: none;
  background-color: white;
  cursor: pointer;
}
.product_color_option li,
.product_size_option li {
  margin: 0px 10px;
  border: 1px solid #fbebed;
  border-radius: 5px;
  line-height: 25px;
  cursor: pointer;
  padding: 1px 7px;
}

.product_count_option {
  display: flex;
  margin-left: 60px;
}
.product_count_inventory {
  margin: 0 20px;
  line-height: 30px;
}
.product_count_option button {
  width: 35px;
  height: 35px;
  font-size: 25px;
  font-weight: lighter;
  background-color: white;
  border: 1px solid #929292;
}
.product_count_option input {
  width: 55px;
  height: 35px;
  border: none;
  text-align: center;
  border-top: 1px solid #929292;
  border-bottom: 1px solid #929292;
}
.product_add_pay {
  justify-content: space-around;
  margin: 20px;
}
.product_add_store,
.product_pay {
  display: flex;
  background-color: rgb(255 245 241);
  border: 1px solid #ee4d2d;
  border-radius: 5px;
  cursor: pointer;
}
.product_add_store:hover {
  background-color: #ffeee8;
}
.product_add_store img {
  width: 25px;
  margin: 0 10px;
}
.product_add_store p {
  line-height: 40px;
  padding-right: 10px;
  text-align: center;
}
.product_pay p {
  background-color: #ee4d2d;
  line-height: 40px;
  width: 150px;
  text-align: center;
}
.product_add_pay:hover {
  opacity: 0.9;
}
.product_committed {
  margin: 20px;
  justify-content: space-around;
}
.product_committed_detail img {
  width: 20px;
  margin-right: 10px;
}
.product_committed_detail p {
  /* background-color: red; */
  line-height: 30px;
}
.product_timmer {
  line-height: 30px;
  color: #929292;
}

/*ProductDetail*/
.product_shop_owner {
  margin: auto;
  margin-top: 15px;
  width: 1150px;
  background-color: white;
  border-radius: 5px;
  display: flex;
}
.product_shop_overview {
  margin: 10px;
}
.product_shop_avatar img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin: 20px;
}
.product_shop_title {
  width: 280px;
}
.product_shop_name p,
.product_last_time_onl p {
  margin: 10px;
}
.product_shop_name p {
  font-size: 18px;
}
.product_shop_mess,
.product_shop_see {
  color: #423838;
  border: 1px solid #ee4d2d;
  border-radius: 3px;
  line-height: 35px;
  padding: 0 10px;
  margin: 10px;
  cursor: pointer;
  background-color: #ffeee8;
  font-size: 14px;
}
.product_shop_see {
  border: 1px solid #d8d7d7;
}
.product_shop_mess img,
.product_shop_see img {
  width: 17px;
  height: 17px;
  margin: 7px 5px 0 0;
}
.product_shop_content_finrst,
.product_shop_content_second {
  display: flex;
  /* background-color: red; */
  padding: 5px;
  margin: 15px;
  line-height: 30px;
}
.product_shop_content_finrst {
  padding-bottom: 0;
}
.product_shop_content_finrst p,
.product_shop_content_second p {
  width: 150px;
  background-color: blue;
}

.product_shop_owner table {
  margin: 25px 0;
}
.product_shop_owner td {
  line-height: 45px;
}
.product_table_f {
  width: 200px;
  padding-right: 50px;
}
.product_table_s {
  width: 330px;
  padding-right: 50px;
}
.product_table_t {
  width: 200px;
  padding-right: 20px;
}
.product_table_f span,
.product_table_s span,
.product_table_t span {
  float: right;
}
.product_review_overview,
.product_maybe_like,
.product_detail {
  margin: auto;
  background-color: white;
  margin-top: 15px;
  width: 1150px;
  border-radius: 5px;
}

.product_detail_title,
.product_review_title,
.product_maybe_title,
.product_detail_description {
  margin: 20px;
  background-color: #ffeee8;
  border-radius: 20px;
}
.product_detail_title h5,
.product_review_title h5,
.product_maybe_title h5,
.product_detail_description h5 {
  padding: 15px;
  font-size: 16px;
}
.product_list_detail {
  margin: 20px;
}

.product_list_detail p {
  width: 130px;
  margin: 0 30px 5px 0px;
}
.product_detail_description {
  margin-top: 30px;
}
.product_description_text {
  margin: 30px;
}
.product_description_img {
  margin: 20px;
}
.product_description_img ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.product_description_img li img {
  max-width: 300px;
  margin: 30px;
}
.product_review_ratting {
  background-color: #f8f8f8;
  margin: 0 20px;
  display: flex;
  border: 1px solid #dfd0cc;
  border-radius: 5px;
}
.product_overview_content {
  margin: 15px 0px;
  width: 880px;
}
.product_overview_content button {
  text-transform: capitalize;
  background-color: white;
  padding: 0 15px;
  line-height: 30px;
  border: 1px solid #929292;
  margin: 10px;
  min-width: 110px;
  cursor: pointer;
}
.product_ratting_detail {
  display: flex;
  color: #ee4d2d;
  justify-content: center;
}
.product_ratting_detail p {
  font-size: 40px;
  line-height: 70px;
}
.product_ratting_detail span {
  font-size: 22px;
  line-height: 70px;
  margin-left: 10px;
}
.product_review_star {
  width: 230px;
  margin: 10px 0;
}
.product_star_detail {
  margin: auto;
  display: flex;
  justify-content: center;
}
.product_star_detail img {
  width: 27px;
  margin: -3px;
}
.product_review_cmt {
  margin: 30px;
}
.product_avatar_cmt img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 20px;
}
