.cart-all-page {
  background-color: #e8e1e3;
}
.cart_shop_title {
  padding: 20px 0px 20px 50px;
  background-color: white;
  line-height: 50px;
  color: #fe4300;
  min-width: 1150px;
  font-size: 22px;
  border-top: 0.1px solid #d3b8b0;
}
.cart_shop_title h3 {
  font-size: 30px;
  margin-left: 50px;
}
.cart_shop_title hr {
  margin: 10px 20px;
  width: 1px;
  height: 30px;
  border: 1px solid #fe4300;
}
.cart_product_detail {
  width: 1150px;
  margin: auto;
  margin-top: 20px;
}

.cart_product_all {
  background-color: #fbf9f9;
  border-radius: 5px;
  border: 0.5px solid #d3b8b0;
}
.cart_product_checkall {
  flex: 3;
  line-height: 30px;
  padding: 7px;
}
.cart_product_all input,
.cart_product_name_shop input {
  margin: 0 15px 0px 30px;
}

.cart_product_informative {
  line-height: 45px;
  flex: 4;
  justify-content: space-around;
}
.cart_product_list {
  background-color: whitesmoke;
  margin-top: 10px;
}
.cart_product_name_shop {
  padding: 5px;
  line-height: 35px;
  border-radius: 5px;
  font-size: 15px;
}
.cart_product_name_shop img {
  width: 20px;
  margin: 0 10px;
  cursor: pointer;
}
.cart_product_list hr {
  height: 1px;
}
.cart_product_title {
  margin: 20px 0 20px 30px;
  padding: 5px;
  width: 300px;
}
.cart_product_title p {
  margin: auto;
}
.cart_product_title img {
  max-width: 70px;
  margin: 0 10px 0 15px;
}

.cart_detail_content {
  justify-content: space-around;
  width: 820px;
}

.cart_product_money button {
  border: none;
  margin: 10px;
}
.cart_product_classification {
  margin: auto;
  line-height: 20px;
  margin-left: 10px;
  width: 150px;
  flex: 1;
}
.cart_count_product,
.cart_sum_price,
.cart_product_money {
  flex: 1;
}
.cart_product_price {
  margin: auto;
  font-size: 14px;
  text-align: center;
  justify-content: center;
}
.cart_by_cost {
  color: rgb(0 0 0 / 54%);
  text-decoration: line-through;
  margin-right: 10px;
}
.cart_count_option {
  line-height: 120px;
  justify-content: center;
}
.cart_count_option input {
  width: 50px;
  height: 25px;
  border: none;
  border-top: 1px solid rgba(119, 116, 116, 0.54);
  border-bottom: 1px solid rgb(119, 116, 116, 0.54);
  background-color: whitesmoke;
  text-align: center;
}
.cart_count_option button {
  width: 25px;
  border: 1px solid rgb(119, 116, 116, 0.54);
  background-color: whitesmoke;
  height: 25px;
}
.cart_product_money {
  margin: auto;
}
.cart_product_money button {
  text-align: center;
  display: block;
  margin: auto;
  line-height: 20px;
  cursor: pointer;
}
.cart_sum_price {
  margin: auto;
}
.cart_sum_price p {
  text-align: center;
}
.cart_product_voucher {
  /* margin: 30px; */
  line-height: 50px;
  cursor: pointer;
}
.cart_product_voucher img {
  width: 20px;
  margin: 0px 10px 0px 30px;
}
