/*Login*/
.login_nav_bar {
  display: flex;
  justify-content: space-around;
  background-color: #f5f5f5;
  position: relative;
}
.login_nav_bar button {
  border: none;
  color: red;
  font-size: 18px;
  cursor: pointer;
}
.login_hubshop {
  font-size: 35px;
  background-color: #080808;
  border-radius: 5px;
  padding: 10px;
  line-height: 42px;
  cursor: pointer;
}
.login_hub {
  color: white;
}
.login_shop {
  color: black;
  background-color: #f79a24;
  padding: 3px;
  border-radius: 5px;
}
.login_logo {
  padding: 10px;
  display: flex;
  width: 300px;
}
.login_logo img {
  width: 5%;
  margin-right: 10px;
}
.login_button_status {
  display: flex;
  max-width: 500px;
}

.login_button_status button {
  margin: 0 10px;
  width: 100px;
  background-color: #f5f5f5;
}

.login_content {
  display: flex;
  position: relative;
}
.login_content img {
  position: absolute;
  width: 100%;
  display: flex;
}
/*FormRegister and FormLogin*/
.login_form_login_register {
  background: #ffff;
  width: 400px;
  text-align: center;
  display: flex;
  position: absolute;
  top: 100px;
  right: 200px;
  z-index: 100;
  border-radius: 5px;
  padding: 20px;
}
.login_content input {
  padding: 10px;
  width: 350px;
  height: 40px;
  border-radius: 3px;
  margin: 10px;
  border: 1px solid #d6d6d6;
}
.login_login_register {
  font-size: 20px;
  text-align: left;
  margin-left: 10px;
}
.login_button_submit {
  background-image: linear-gradient(#edcdc2, RGB(221, 65, 36));
  border: none;
  width: 350px;
  margin: 10px;
  height: 35px;
  cursor: pointer;
}
.login_button_submit:hover {
  opacity: 0login_9;
}

/* FormRegister*/

.login_confirm {
  position: relative;
}
.login_otp {
  position: absolute;
  color: red;
  left: 250px;
  top: 19px;
  cursor: pointer;
  background-color: white;
}

/*FormLogin*/
.login_form_login {
  background: white;
  width: 400px;
  text-align: center;
  display: flex;
  position: absolute;
  top: 100px;
  right: 200px;
  z-index: 100;
  border-radius: 5px;
  padding: 20px;
}
.login_options {
  display: flex;
  background-color: red;
}
.login_socialnetwork {
  display: flex;
  justify-content: space-around;
}
.login_socialnetwork .login_face {
  width: 150px;
  border: 1px solid #d6d6d6;
  padding: 15px 0px;
  display: flex;
  cursor: pointer;
}
.login_socialnetwork span {
  color: red;
  display: flex;
  margin-left: 50px;
}
.login_socialnetwork img {
  width: 30px;
  display: block;
}
.login_socialnetwork .login_googlemail {
  width: 150px;
  display: flex;
  border: 1px solid #d6d6d6;
  cursor: pointer;
}
.login_googlemail span {
  line-height: 45px;
  margin: auto;
}
